<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="Public/404.js"></script>
<link rel="stylesheet" href="Public/404.css?1">

</script>
<!------ Include the above in your HEAD tag ---------->

    <section class="error_section">
      <p class="error_section_subtitle">Esta pagina não está disponivel</p>
      <h1 class="error_title">
        <p>404</p>
        404
      </h1>
      <a href="/?rota=Home" class="btn">Volte a navegar</a>
    </section>
