/*Definindo a fonte padrão da pagina */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

/*Definindo a cor da pagina */
body, html
    {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }
  .affix {
    position: fixed;
    top: 0px;
  }

.adq {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.text{
    text-align:center;
    padding:12px 24px;
    color:#fff;
    background-color:#000;
    font-size:24px;
    letter-spacing:8px;
}

.a{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.e {
    display: inline-block;
    margin-right: 1.75rem;
    font-size: 1.75rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar{
    margin-bottom: 0px;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3
    {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/* Primeira imagem da clinica */
.bgimg-1
    {
        background-image: url("../Imagens/Pagina_inicial/Clinica2.jpg");
        min-height: 100%;
        opacity:0.75;
        display:block;

    }

/* Segunda Imagem do contato da clinica */
.bgimg-3
    {
        background-image: url("../Imagens/Pagina_inicial/Clinica.jpg");
        min-height: 50%;
        opacity:0.75;
        display:block;
        position:relative;
    }

.dia
{
  font-family: Times New Roman, arial;
  font-size: 10pt; color: #e5ca00
}
.data
{
  font-family: Times New Roman, arial;
  font-size: 20pt;
  text-decoration:none;
  color:#e55656;
}
.mes
{
font-family: Times New Roman, arial;
font-size: 15pt; color:darkred
}
.Cabecalho_Calendario
{
font-family: Times New Roman, arial;
font-size: 15pt; color: #000000;
text-decoration:none;
font-weight:bold
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.Livre{
    background-color: green;
    color: white;
}
.Ocupado{
    background-color: red;
    color: white;
}

.jumbotron {
	text-align: center;
}

img{
  cursor: pointer;
}

.footer {
	background: #006bd5;
    color: #ffffff;
    margin-top: 16px;
    text-align: center;
}

.footer p a {
	color: #ffffff;
}

.footer p a:hover {
	color: #ffffff;
}

.text-center .img-responsive {
    margin: 0 auto;
}

.nav{

  background-color:#666;

}

/* Desativar o efeito do background nos smartphones */
@media only screen and (max-device-width: 1600px)
    {
        .bgimg-1, .bgimg-2, .bgimg-3
            {
                background-attachment: scroll;
                min-height: 400px;
            }
    }

/* Style do Smart Wizard */
    .wizard_horizontal ul.wizard_steps li a,
    .wizard_horizontal ul.wizard_steps li:hover {
        display: block;
        position: relative;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        opacity: 1;
        color: #666
    }

    .wizard_horizontal ul.wizard_steps li a:before {
        content: "";
        position: absolute;
        height: 4px;
        background: #ccc;
        top: 20px;
        width: 100%;
        z-index: 4;
        left: 0
    }

    .wizard_horizontal ul.wizard_steps li a.disabled .step_no {
        background: #ccc
    }

    .wizard_horizontal ul.wizard_steps li a .step_no {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100px;
        display: block;
        margin: 0 auto 5px;
        font-size: 16px;
        text-align: center;
        position: relative;
        z-index: 5
    }

    .step_no,
    .wizard_horizontal ul.wizard_steps li a.selected:before {
        background: #34495E;
        color: #fff
    }

    .wizard_horizontal ul.wizard_steps li a.done .step_no,
    .wizard_horizontal ul.wizard_steps li a.done:before {
        background: #1ABB9C;
        color: #fff
    }

    .wizard_horizontal ul.wizard_steps li:first-child a:before {
        left: 50%
    }

    .wizard_horizontal ul.wizard_steps li:last-child a:before {
        right: 50%;
        width: 50%;
        left: auto
    }

    .wizard_verticle .stepContainer {
        width: 80%;
        float: left;
        padding: 0 10px
    }

    .actionBar {
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 10px 5px;
        text-align: right;
        margin-top: 10px
    }

    .actionBar .buttonDisabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        box-shadow: none
    }

    .actionBar a {
        margin: 0 3px
    }

    .wizard_verticle .wizard_content {
        width: 80%;
        float: left;
        padding-left: 20px
    }

    .wizard_verticle ul.wizard_steps {
        display: table;
        list-style: none;
        position: relative;
        width: 20%;
        float: left;
        margin: 0 0 20px
    }

    .wizard_verticle ul.wizard_steps li {
        display: list-item;
        text-align: center
    }

    .wizard_verticle ul.wizard_steps li a {
        height: 80px
    }

    .wizard_verticle ul.wizard_steps li a:first-child {
        margin-top: 20px
    }

    .wizard_verticle ul.wizard_steps li a,
    .wizard_verticle ul.wizard_steps li:hover {
        display: block;
        position: relative;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        opacity: 1;
        color: #666
    }

    .wizard_verticle ul.wizard_steps li a:before {
        content: "";
        position: absolute;
        height: 100%;
        background: #ccc;
        top: 20px;
        width: 4px;
        z-index: 4;
        left: 49%
    }

    .wizard_verticle ul.wizard_steps li a.disabled .step_no {
        background: #ccc
    }

    .wizard_verticle ul.wizard_steps li a .step_no {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100px;
        display: block;
        margin: 0 auto 5px;
        font-size: 16px;
        text-align: center;
        position: relative;
        z-index: 5
    }

    .progress.progress_sm,
    .progress.progress_sm .progress-bar {
        height: 10px!important
    }

    .step_no,
    .wizard_verticle ul.wizard_steps li a.selected:before {
        background: #34495E;
        color: #fff
    }

    .wizard_verticle ul.wizard_steps li a.done .step_no,
    .wizard_verticle ul.wizard_steps li a.done:before {
        background: #1ABB9C;
        color: #fff
    }

    .wizard_verticle ul.wizard_steps li:first-child a:before {
        left: 49%
    }

    .wizard_verticle ul.wizard_steps li:last-child a:before {
        left: 49%;
        left: auto;
        width: 0
    }

    .form_wizard .loader,
    .form_wizard .msgBox {
        display: none
    }

    .progress {
        border-radius: 0
    }

    .progress-bar-info {
        background-color: #3498DB
    }

    .progress-bar-success {
        background-color: #26B99A
    }

    .progress_summary .progress {
        margin: 5px 0 12px!important
    }

    .progress_summary .row {
        margin-bottom: 5px
    }

    .progress_summary .row .col-xs-2 {
        padding: 0
    }

    .progress_summary .data span,
    .progress_summary .more_info span {
        text-align: right;
        float: right
    }

    .progress_summary p {
        margin-bottom: 3px;
        width: 100%
    }

    .progress_title .left {
        float: left;
        text-align: left
    }

    .progress_title .right {
        float: right;
        text-align: right;
        font-weight: 300
    }

    .progress.progress_sm {
        border-radius: 0;
        margin-bottom: 18px
    }

    .dashboard_graph p {
        margin: 0 0 4px
    }

    ul.verticle_bars {
        width: 100%
    }

    ul.verticle_bars li {
        width: 23%;
        height: 200px;
        margin: 0
    }

    .progress.vertical.progress_wide {
        width: 35px
    }

    .alert-success {
        color: #fff;
        background-color: rgba(38, 185, 154, .88);
        border-color: rgba(38, 185, 154, .88)
    }

    .alert-info {
        color: #E9EDEF;
        background-color: rgba(52, 152, 219, .88);
        border-color: rgba(52, 152, 219, .88)
    }

    .alert-warning {
        color: #E9EDEF;
        background-color: rgba(243, 156, 18, .88);
        border-color: rgba(243, 156, 18, .88)
    }

    .alert-danger,
    .alert-error {
        color: #E9EDEF;
        background-color: rgba(231, 76, 60, .88);
        border-color: rgba(231, 76, 60, .88)
    }

    .ui-pnotify.dark .ui-pnotify-container {
        color: #E9EDEF;
        background-color: rgba(52, 73, 94, .88);
        border-color: rgba(52, 73, 94, .88)
    }

    .custom-notifications {
        position: fixed;
        margin: 15px;
        right: 0;
        float: right;
        width: 400px;
        z-index: 4000;
        bottom: 0
    }

    ul.notifications {
        float: right;
        display: block;
        margin-bottom: 7px;
        padding: 0;
        width: 100%
    }

    .notifications li {
        float: right;
        margin: 3px;
        width: 36px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
    }

    .notifications li:last-child {
        margin-left: 0
    }

    .notifications a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 9px 8px
    }

    .tabbed_notifications .text {
        padding: 5px 15px;
        height: 140px;
        border-radius: 7px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, .3)
    }

    .tabbed_notifications div p {
        display: inline-block
    }

    .tabbed_notifications h2 {
        font-weight: 700;
        width: 80%;
        float: left;
        height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block
    }

    .tabbed_notifications .close {
        padding: 5px;
        color: #E9EDEF;
        float: right;
        opacity: 1
    }

    .fc-state-default {
        background: #f5f5f5;
        color: #73879C
    }

    .fc-state-active,
    .fc-state-down {
        color: #333;
        background: #ccc
    }

    .dropzone {
        min-height: 300px;
        border: 1px solid #e5e5e5
    }

    .main_menu .label {
        line-height: 11px;
        margin-top: 4px
    }

    @media (max-width:460px) {
        .dataTables_wrapper .col-sm-6 {
            width: 100%;
            margin-bottom: 5px
        }
        .dataTables_wrapper .col-sm-6 .dataTables_filter {
            float: none
        }
    }

    @media (max-width:767px) {
        .dataTables_length {
            float: none
        }
    }

    .daterangepicker.xdisplay {
        width: 228px
    }

    .dataTables_wrapper>.row {
        overflow: auto!important
    }
</style>
